<div class="catehory-page">
  <section class="listing">
    <header class="listing__header">
      <p class="listing__title large-text">Results For: das</p>
    </header>
    <div class="listing__content">
      <app-media-list 
        [canLoadMore]="canLoadMore">
        <app-media-list-item *ngFor="let item of data; trackBy:trackBy">
          <ng-container *ngIf="item | instanceof: ShortMovieDto as item">
            <app-media-card  
              [voteAverage]="item.vote_average"
              [routerLink]="[item.media_type, item.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage 
                [alt]="item.title"
                [src]="item.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ item.title }}</h4>
            </app-media-card>
          </ng-container>
          <ng-container *ngIf="item | instanceof: ShortTvShowDto as item">
            <app-media-card  
              [voteAverage]="item.vote_average"
              [routerLink]="[item.media_type, item.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage 
                [alt]="item.name"
                [src]="item.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ item.name }}</h4>
            </app-media-card>
          </ng-container>
          <ng-container *ngIf="item | instanceof: ShortPersonDto as item">
            <app-media-card [routerLink]="[item.media_type, item.id]">
              <img 
                appMediaCardImage 
                [alt]="item.name"
                [src]="item.profile_path| getImageLink : 'h632'" >
              <h4 appMediaCardHeading>{{ item.name }}</h4>
            </app-media-card>
          </ng-container>
        </app-media-list-item>
      </app-media-list>
    </div>
  </section>
</div>