.badge {
  display: inline-block;
  padding: 4px 8px;
  width: max-content;

  color: #0FEFFD;

  flex: none;
  white-space: nowrap;
  border-radius: 0 8px;
  box-sizing: border-box;
  background: rgba(29, 29, 29, 0.5);
}