.listing  {
  margin: 50px;

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    color: var(--white);
  }

  &__list-item {
    width: 292px;

    aspect-ratio: 73/110;
  }

  &_carousel {
    margin-left: 0;
    margin-right: 0;

    .listing__header {
      margin-left: 50px;
    }

    .listing__preview-card {
      &:first-child {
        margin-left: var(--scroll-padding);
      }
    }
  }
}