.home {
  &__hero {
    position: sticky;
    top: 0;

    height: 100vh;
  }

  &__content {
    position: relative;
    padding-top: 24px;
    padding-left: 56px;

    box-sizing: border-box;
    background-color: #1D1D1D;
  }

  &__link {
    margin-left: 52px;
    margin-bottom: 24px;
  }
}

.movies {
  margin-bottom: 40px;

  &__link {
    margin-left: 52px;
    margin-bottom: 24px;
  }

  &__list {
    gap: 16px;
  }

  &__list-item {
    width: 292px;
    height: 440px;
  }
}

.tv-shows {
  &__list {

  }

  &__list-item {
    width: 504px;
    height: 736px;
  }
}

.list {
  display: flex;
  padding-left: 56px;
  margin-left: -56px;

  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    flex: none;
  }
}