.home {
  &__hero {
    position: sticky;
    top: 0;

    height: 100vh;
  }

  &__content {
    position: relative;
    padding-top: 1px;
    padding-left: var(--sidebar-width);

    box-sizing: border-box;
    background-color: var(--darker-gray);
  }
}