<div class="home">
  <div class="home__hero">
    <app-hero-slider [data]="sliderMovies"></app-hero-slider>
  </div>
  <main class="home__content">
    <section class="movies">
      <a 
        class="link home__link"
        [href]="['./movie']"
        [routerLink]="['./movie']">
        <span class="link__text">New releases</span>  
        <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
      </a>
      <div class="movies__content">
        <app-list 
          [gap]="16" 
          class="movies__list">
          <app-list-item 
            *ngFor="let movie of movies"
            class="movies__list-item">
            <app-movie-card [data]="movie"></app-movie-card>
          </app-list-item>
        </app-list>
      </div>
    </section>
    <section class="tv-shows">
      <a 
        class="link home__link"
        [href]="['./tv-shows']"
        [routerLink]="['./tv-shows']">
        <span class="link__text">Featured TV shows</span>  
        <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
      </a>
      <app-list [gap]="16" class="tv-shows__list">
        <app-list-item 
          *ngFor="let movie of movies"
          class="tv-shows__list-item">
          <app-movie-card [data]="movie"></app-movie-card>
        </app-list-item>
      </app-list>
    </section>
  </main>
</div>
