<div class="home page">
  <header class="page__hero">
    <app-hero-slider [data]="sliderItems"></app-hero-slider>
  </header>
  <section class="page__content">
    <section class="listing listing_carousel">
      <header class="listing__header">
        <a 
          class="listing__title link large-text"
          [href]="['/movie/category/trending']"
          [routerLink]="['/movie/category/trending']">
          <span class="link__text">Trending Movies</span>  
          <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
        </a>
      </header>
      <div class="listing__content">
        <app-carousel 
          [gap]="16" 
          [previewCardTemplate]="previewCard">
          <app-carousel-item 
            *ngFor="let movie of $trendingMovies | async"
            class="listing__carousel-item">
            <app-media-card  
              [voteAverage]="movie.vote_average"
              [routerLink]="[movie.media_type, movie.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage
                [alt]="movie.title"
                [src]="movie.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ movie.title }}</h4>
            </app-media-card>
          </app-carousel-item>
        </app-carousel>
      </div>
    </section>
    <section class="listing listing_carousel">
      <header class="listing__header">
        <a 
          class="listing__title link large-text"
          [href]="['/tv/category/trending']"
          [routerLink]="['/tv/category/trending']">
          <span class="link__text">Trending TV Shows</span>  
          <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
        </a>
      </header>
      <app-carousel 
        [gap]="16" 
        [previewCardTemplate]="previewCard">
        <app-carousel-item 
          *ngFor="let tvShow of $trendingTVShows | async"
          class="listing__carousel-item">
          <app-media-card  
            [voteAverage]="tvShow.vote_average"
            [routerLink]="[tvShow.media_type, tvShow.id]"
            [showWatchNowButton]="true">
            <img 
              appMediaCardImage 
              [alt]="tvShow.name"
              [src]="tvShow.poster_path | getImageLink : 'w780'" >
            <h4 appMediaCardHeading>{{ tvShow.name }}</h4>
          </app-media-card>
        </app-carousel-item>
      </app-carousel>
    </section>
  </section>
</div>
<ng-template #previewCard>
  <li class="card card_preview listing__preview-card">
    <div class="card__info">
      <span class="card__preview-item card__rating"></span>
      <span class="card__preview-item card__title"></span>
    </div>
  </li>
</ng-template>