<div class="home">
  <div class="home__hero">
    <app-hero-slider [data]="movies | slice:0:5"></app-hero-slider>
  </div>
  <main class="home__content">
    <section class="movies">
      <a 
        class="link home__link"
        [href]="['./movie']"
        [routerLink]="['./movie']">
        <span class="link__text">New releases</span>  
        <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
      </a>
      <div class="list">
        <div 
          *ngFor="let movie of movies"
          class="card">
          <img  
            class="card__image"
            [alt]="movie.title"
            [src]="movie.poster_path | getImageLink:'w342'">
          <div class="card__content">
            <span class="badge reduced-text">{{movie.genres[0].name}}</span>
            <div 
              [ngStyle]="{ '--rating': movie.vote_average }"
              class="card__rating">
              <div class="card__rating-inner">
                <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
                <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
                <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
                <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
                <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
              </div>
            </div>
            <h4 class="card__title">{{movie.title}}</h4>
          </div>
          <a 
            class="link card__link"
            [href]="['./movie']"
            [routerLink]="['./movie' + movie.id]">
            <span class="link__text">Watch now</span>  
            <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
          </a>
        </div>
      </div>
    </section>
    <section class="tv-shows">
      <a 
        class="link home__link"
        [href]="['./tv-shows']"
        [routerLink]="['./tv-shows']">
        <span class="link__text">Featured TV shows</span>  
        <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
      </a>
    </section>
  </main>
</div>
