<div 
  class="card media-card"
  [class.loaded]="isImageLoaded">
  <a
    class="link card__image"
    [href]="[data.media_type, data.id]"
    [routerLink]="[data.media_type, data.id]">
    <img
      class="card__image-picture"
      loading="lazy"
      [alt]="data.title"
      [src]="data.poster_path | getImageLink : 'w780'"
      (load)="imageLoaded()"
  />
  </a>
  <div class="card__content">
    <div class="card__info">
      <div 
        [ngStyle]="{ '--rating': data.vote_average }" 
        class="rating media-card__rating">
        <div class="rating__stars">
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
        </div>
      </div>
      <h4 class="card__title">{{ data.title }}</h4>
    </div>
    <a
      class="link media-card__link"
      [href]="[data.media_type, data.id]"
      [routerLink]="[data.media_type, data.id]">
      <span class="link__text">Watch now</span>
      <svg class="link__icon">
        <use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use>
      </svg>
    </a>
  </div>
</div>
