@import "src/assets/styles/components/rating.scss";
@import "src/assets/styles/abstracts/mixins/text-overflow.mixin";

.media-card {
  &__link {
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 2;

    opacity: 0;

    transition: 0.4s ease opacity;
  }

  &:hover {
    .card__image {
      transform: scale(1.08);
    }

    .card__info {
      transform: translateY(-40px);
    }

    .media-card__link {
      opacity: 1;
    }
  }
}