<div 
  class="card media-card"
  [class.loaded]="isImageLoaded"
  [class.media-card__watch-now]="showWatchNowButton">
  <a
    class="link card__image"
    [href]="routerLink"
    [routerLink]="routerLink">
    <ng-content select="[appMediaCardImage]"></ng-content>
  </a>
  <div class="card__content">
    <div class="card__info">
      <div 
        *ngIf="voteAverage !== undefined"
        [ngStyle]="{ '--rating': voteAverage }" 
        class="rating media-card__rating">
        <div class="rating__stars">
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
        </div>
      </div>

      <ng-content select="[appMediaCardHeading]"></ng-content>
      <ng-content select="[appMediaCardParagraph]"></ng-content>
    </div>
    <a
      *ngIf="showWatchNowButton"
      class="link media-card__link"
      [href]="routerLink"
      [routerLink]="routerLink">
      <span class="link__text">Watch now</span>
      <svg class="link__icon">
        <use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use>
      </svg>
    </a>
  </div>
</div>