<aside class="sidebar">
  <a
    href="/"
    routerLink="/"
    class="sidebar__logo">
    <img
      alt="Logo"
      class="sidebar__logo-image"
      src="assets/images/logo.svg">
  </a>
  <nav class="sidebar__navigation">
    <a
      href="/"
      routerLink="/"
      routerLinkActive="sidebar__navigation-item_active"
      class="sidebar__navigation-item">
      <svg><use xlink:href="assets/icons/sprite.svg#home-icon"></use></svg>
    </a>
    <a
      href="/movies"
      routerLink="/movies"
      class="sidebar__navigation-item">
      <svg><use xlink:href="assets/icons/sprite.svg#movies-icon"></use></svg>
    </a>
    <a
      href="/tv-shows"
      routerLink="/tv-shows" class="sidebar__navigation-item">
      <svg><use xlink:href="assets/icons/sprite.svg#tv-icon"></use></svg>
    </a>
    <a
      href="/search"
      routerLink="/search" class="sidebar__navigation-item">
      <svg><use xlink:href="assets/icons/sprite.svg#search-icon"></use></svg>
    </a>
  </nav>
</aside>
