.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: var(--sidebar-width);
  height: 100vh;
  padding-top: 40px;

  box-sizing: border-box;
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--glass-blur);
  background-color: var(--glass-background);

  &__logo {
    display: block;
    width: 80%;

    margin: 0 auto;
    margin-bottom: 64px;
  }

  &__logo-image {
    display: block;
    width: 100%;
  }

  &__navigation {
    display: grid;
    width: 100%;
    grid-row-gap: 80px;
    justify-content: center;
  }

  &__navigation-item {
    position: relative;

    display: block;
    height: 40px;
    width: 40px;

    color: var(--white);

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      display: block;
      height: 100%;
      width: 100%;

      scale: 0.5;
      opacity: 0;
      translate: -50% -50%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);

      transition: 0.3s ease all;

      will-change: opacity, translate;
    }

    svg {
      display: block;
      height: 100%;
      width: 100%;

      color: inherit;
    }

    &:hover {
      &:before {
        scale: 1;
        opacity: 1;
      }
    }

    &_active {
      color: var(--teal);
      pointer-events: none;
    }
  }
}
