<div 
  class="hero"
  [class.hero_loaded]="imageLoaded"
  [class.hero_hide-info]="hideInfo">
  <img
    class="hero__image"
    [alt]="title"
    [src]="data.backdrop_path | getImageLink"
    (load)="imageLoadHandler()"/>
  <div class="hero__info">
    <div
      [ngStyle]="{ '--delay': '1s' }"
      class="hero__badges hero__animation-element">
      <span 
        *ngFor="let genre of data.genres"
        class="badge reduced-text">
        {{genre.name}}
      </span>
    </div>
    <div
      [ngStyle]="{ '--delay': '1s', '--rating': data.vote_average }"
      class="rating hero__rating hero__animation-element">
      <div class="rating__stars">
        <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
        <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
        <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
        <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
        <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
      </div>
      <p class="hero__reviews reduced-text">{{ data.vote_count }} Reviews</p>
    </div>
    <h1
      [ngStyle]="{ '--delay': '1.1s' }"
      class="hero__title hero__animation-element">
      <a 
        class="hero__title-link"
        [href]="[data.media_type, data.id]" 
        [routerLink]="[data.media_type, data.id]">
        {{ title }}
      </a>
    </h1>
    <p
      [ngStyle]="{ '--delay': '1.2s' }"
      class="hero__description hero__animation-element">
      {{ data.overview }}
    </p>
    <button
      [ngStyle]="{ '--delay': '1.3s' }"
      class="button increased-text hero__button hero__animation-element">
      Watch trailer
    </button>
  </div>
</div>
