<div class="hero-slider">
  <div class="hero-slider__slides">
    <div
      *ngFor="let movie of data; let i = index"
      [class.hero-slide_active]="i === activeSlide"
      [class.hero-slide_next]="i === nextSlide"
      [class.hero-slide_prev]="i === prevSlide"
      class="hero hero-slide">
      <img
        [alt]="'Image #' + i"
        class="hero__image"
        [src]="movie.backdrop_path | getImageLink">
      <div class="hero__info">
        <div
          [ngStyle]="{ '--delay': '1s' }"
          class="hero__badges hero__animation-element">
          <span class="badge reduced-text" *ngFor="let genre of movie.genres">{{genre.name}}</span>
        </div>
        <div
          [ngStyle]="{ '--delay': '1s', '--rating': movie.vote_average }"
          class="hero__rating hero__animation-element">
          <div class="hero__stars">
            <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
            <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
            <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
            <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
            <svg><use xlink:href="assets/icons/sprite.svg#star-icon"></use></svg>
          </div>
          <p class="hero__reviews reduced-text">{{movie.vote_count}} Reviews</p>
        </div>
        <h1
          [ngStyle]="{ '--delay': '1.1s' }"
          class="hero__title hero__animation-element">
          <a 
            [href]="['/movie/' + movie.id]"
            [routerLink]="['/movie/' + movie.id]">
            {{movie.title}}
          </a>
        </h1>
        <p
          [ngStyle]="{ '--delay': '1.2s' }"
          class="hero__description hero__animation-element">{{movie.overview}}</p>
        <a
          [ngStyle]="{ '--delay': '1.3s' }"
          class="button increased-text medium-weight hero__button hero__animation-element"
          [href]="['/movie/' + movie.id]"
          [routerLink]="['/movie/' + movie.id]">Watch trailer</a>
      </div>
    </div>
  </div>
</div>
