:root {
  --sidebar-width: 56px;

  --white: #FFFFFF;
  --black: #000000;
  --teal: #0FEFFD;
  --gray: #999999;
  --dark-gray: #202124;
  --darker-gray: #1D1D1D;

  --background: rgba(29, 29, 29, 0.5);
}
