:root {
  --sidebar-width: 56px;

  --white: #FFFFFF;
  --black: #000000;
  --teal: #0FEFFD;
  --gray: #999999;
  --dark-gray: #202124;
  --darker-gray: #1D1D1D;

  --glass-blur: blur(12px);
  --glass-shadow: 0px 40px 40px 8px rgba(0, 0, 0, 0.16);
  --glass-background: rgba(29, 29, 29, 0.5);

  --primary-font-family: 'Roboto';
}
