<div class="movies page">
  <header class="page__hero">
    <app-hero-slider [data]="$sliderItems | async"></app-hero-slider>
  </header>
  <div class="page__content">
    <section class="listing listing_carousel">
      <header class="listing__header">
        <a 
          class="listing__title link large-text"
          [href]="['./category', categoriesEnum.Popular]"
          [routerLink]="['./category', categoriesEnum.Popular]">
          <span class="link__text">Popular Movies</span>  
          <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
        </a>
      </header>
      <div class="listing__content">
        <app-carousel 
          [gap]="16"
          [previewCardTemplate]="previewCard">
          <app-carousel-item 
            *ngFor="let movie of $popular | async"
            class="listing__carousel-item">
            <app-media-card  
              [voteAverage]="movie.vote_average"
              [routerLink]="[movie.media_type, movie.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage 
                [alt]="movie.title"
                [src]="movie.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ movie.title }}</h4>
            </app-media-card>
          </app-carousel-item>
        </app-carousel>
      </div>
    </section>
    <section class="listing listing_carousel">
      <header class="listing__header">
        <a 
          class="listing__title link large-text"
          [href]="['./category', categoriesEnum.TopRated]"
          [routerLink]="['./category', categoriesEnum.TopRated]">
          <span class="link__text">Top Rated Movies</span>  
          <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
        </a>
      </header>
      <div class="listing__content">
        <app-carousel 
          [gap]="16"
          [previewCardTemplate]="previewCard">
          <app-carousel-item 
            *ngFor="let movie of $topRated | async"
            class="listing__carousel-item">
            <app-media-card  
              [voteAverage]="movie.vote_average"
              [routerLink]="[movie.media_type, movie.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage 
                [alt]="movie.title"
                [src]="movie.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ movie.title }}</h4>
            </app-media-card>
          </app-carousel-item>
        </app-carousel>
      </div>
    </section>
    <section class="listing listing_carousel">
      <header class="listing__header">
        <a 
          class="listing__title link large-text"
          [href]="['./category', categoriesEnum.Upcoming]"
          [routerLink]="['./category', categoriesEnum.Upcoming]">
          <span class="link__text">Upcoming Movies</span>  
          <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
        </a>
      </header>
      <div class="listing__content">
        <app-carousel 
          [gap]="16"
          [previewCardTemplate]="previewCard">
          <app-carousel-item 
            *ngFor="let movie of $upcoming | async"
            class="listing__carousel-item">
            <app-media-card  
              [voteAverage]="movie.vote_average"
              [routerLink]="[movie.media_type, movie.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage 
                [alt]="movie.title"
                [src]="movie.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ movie.title }}</h4>
            </app-media-card>
          </app-carousel-item>
        </app-carousel>
      </div>
    </section>
    <section class="listing listing_carousel">
      <header class="listing__header">
        <a 
          class="listing__title link large-text"
          [href]="['./category', categoriesEnum.NowPlaying]"
          [routerLink]="['./category', categoriesEnum.NowPlaying]">
          <span class="link__text">Now Playing Movies</span>  
          <svg class="link__icon"><use xlink:href="assets/icons/sprite.svg#right-arrow-icon"></use></svg>
        </a>
      </header>
      <div class="listing__content">
        <app-carousel 
          [gap]="16"
          [previewCardTemplate]="previewCard">
          <app-carousel-item 
            *ngFor="let movie of $nowPlaying | async"
            class="listing__carousel-item">
            <app-media-card  
              [voteAverage]="movie.vote_average"
              [routerLink]="[movie.media_type, movie.id]"
              [showWatchNowButton]="true">
              <img 
                appMediaCardImage 
                [alt]="movie.title"
                [src]="movie.poster_path | getImageLink : 'w780'" >
              <h4 appMediaCardHeading>{{ movie.title }}</h4>
            </app-media-card>
          </app-carousel-item>
        </app-carousel>
      </div>
    </section>
  </div>
</div>
<ng-template #previewCard>
  <li class="card card_preview listing__preview-card">
    <div class="card__info">
      <span class="card__preview-item card__rating"></span>
      <span class="card__preview-item card__title"></span>
    </div>
  </li>
</ng-template>